/* Member1.css */

.member-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    position: relative; /* Add position relative to .member-container */
    padding-top: 130px;
  }
  
  .member-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .member-profile img {
    max-width: 200px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .member-info {
    text-align: left;
  }
  
  .member-info h1 {
    margin-bottom: 5px;
    padding-bottom: 10px;
    color: #ffffff; /* Medium Purple */
  }
  
  .member-info p {
    margin: 0;
    font-size: 1.1em;
    color: #c9c9c9;
    font-weight: bold;
  }
  
  .member-bio, .member-expertise, .member-contact {
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
  }
  
  .member-bio {
 /* Change position to absolute */
    left: 20px; /* Adjust left position as needed */
    top: 20px; /* Adjust top position as needed */
    animation: fadeIn 2s ease-out forwards;
  }
  
  .member-bio h2, .member-expertise h2, .member-contact h2 {
    color: #ffffff; /* Medium Purple */
  }
  
  .member-expertise ul {
    list-style-type: none;
    padding: 0;
  }
  
  .member-expertise li {
    background-color: #f3effa;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  .member-contact a {
    color: #8B78E6; /* Medium Purple */
    text-decoration: none;
  }

  .member-contact {
    text-align: center;
    color: white; /* Medium Purple */
    text-decoration: none;
  }
  
  .member-contact a:hover {
    text-decoration: underline;
  }
  
  .member-bio p {
    margin-top: 10px;
    color: #c9c9c9;
    font-weight: bold;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  