/* Default theme */
:root {
  --background-color-light: #f3effa;
  --text-color-light: #6B5B95;
  --accent-color-light: #b972f8; /* Medium Pink */
}

/* Dark mode theme */
[data-theme='dark'] {
  --background-color-dark: #1f1f1f;
  --text-color-dark: #ffffff;
  --accent-color-dark: #b876f1; /* Medium Pink */
}

/* Apply default light theme by default */
.home {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: var(--background-color-light); 
  color: var(--text-color-light);
  font-weight: bold;
  padding-top: 50px;
}

.home header {
  margin-left: 5%;
  text-align: left;
  animation: slideInFromRight 0.5s ease-out forwards;

}

.home header h1 {
  margin: 1em auto;
  font-size: 2.8em;
  color: var(--accent-color-light);
}

.home header p {
  font-size: 1.4em;
}

.home section {
  margin-bottom: 40px;
}

.home section h2 {
  margin-top: 1.5em ;
  margin-bottom: 1em ;
  font-size: 2em;
  color: var(--accent-color-light); /* Use accent color */
}

.home section p {
  font-size: 1.1em;
  line-height: 1.6;  
}

.home section ul {
  list-style-type: circle;
  padding: 0;
}

.home section ul li {
  margin-bottom: 10px;
}

.home button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: var(--accent-color-light); /* Use accent color */
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  margin-top: 1.5em;
  transition: background-color 0.3s ease;
  display: block;
  margin: 10px auto 10px auto;
}

.home button:hover {
  background-color: #D94978; /* Darken on hover */
}


.features {
  margin-left: 5%;
  text-align: left;
  animation: slideInFromRight 0.5s ease-out forwards;
}

.intro {
  margin-right: 5%;
  text-align: right;
  animation: slideInFromLeft 0.5s ease-out forwards;
}

.audience {
  margin-right: 5%;
  text-align: right;
  animation: slideInFromLeft 0.5s ease-out forwards;
}

.benefits {
  margin-left: 5%;
  text-align: left;
  animation: slideInFromRight 0.5s ease-out forwards;

}

.call-to-action {
  text-align: center;
  animation: slideInFromLeft 0.5s ease-out forwards;

}

.secondPic {
  overflow: hidden; /* Hide overflowing content */
  max-width: 100%; /* Ensures the image scales down as viewport decreases */
  height: auto; /* Maintain aspect ratio */
  margin: 50px auto;
  display: block;
  animation: fade-in-rotate 4s ease-in-out forwards, rotate 6s linear infinite; /* Apply fade-in and rotation animations */
}

.firstPic {
  margin-top: 40px; /* Fixed width */
  overflow: hidden; /* Hide overflowing content */
  max-width: 100%; /* Ensures the image scales down as viewport decreases */
  height: auto; 
  margin-right: 5%;
  max-width: 100%;
  object-fit: cover;
  width: 100%;

}

.codePic, .learnStudent, .firstPic {
  margin-top: 20px; /* Fixed width */
  overflow: hidden; /* Hide overflowing content */
  max-width: 100%; /* Ensures the image scales down as viewport decreases */
  height: auto; 
  margin-right: 5%;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
 /* Ensures the image scales down as viewport decreases */
}

.movPic {
  margin-top: 20px; /* Fixed width */
  overflow: hidden; /* Hide overflowing content */
  max-width: 100%; /* Ensures the image scales down as viewport decreases */
  height: auto; 
  margin-right: 5%;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-rotate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Start rotation from 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Rotate to 360 degrees (full circle) */
  }
}




/* Apply dark mode styles */
[data-theme='dark'] .home {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

[data-theme='dark'] .home section h2 {
  color: var(--accent-color-dark); /* Use dark mode accent color */
}

[data-theme='dark'] .home .call-to-action button {
  background-color: var(--accent-color-dark); /* Use dark mode accent color */
}

[data-theme='dark'] .home .section h1 {
  color: var(--text-color-dark);
}
